.clock-container{
    margin: 2rem 0;
}

.clock{
    width: 15rem;
    height: 15rem;
    border: 3px darkslategray solid;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #f4a460;
}

#clock-text{
    font-size: 3rem;
    color: #000;
}
